:root
{
	--black: #08141e; 
	--dark-blue: #0f2a3f; 
	--blue: #20394f; 
}
body
{
	background-image : url("../assets/skulls.jpg");
	background-color: var(--black);
}
p
{
	color: #f6d6bd; 
	font-family: Domine;
	text-indent: 5%;
}
hr
{
	border: 0;
	border-top: 8px solid #3d4373;
	border-radius: 10px 20px;
}
hr.Two
{
	border: 0;
	border-top: 4px solid #3d4373;
	border-radius: 10px 20px;
	margin: 0% 2%;
}
table
{
	display: flex;
	justify-content: center;
	border: 3px solid;
	border-radius: 4px 8px;
	border-color: #46517f;
	color: #f6d6bd;
}
td
{
	border: 1px solid;
	border-radius: 2px 4px;
	border-color: #46517f;
	color: #f6d6bd;
	padding: 16px;
}
.Top
{
	background-image : url("../assets/bgblur.jpg");
	background-color: #212a4b; 
	display: flex;
	justify-content: center;
	align-items: center;
	border: 3px solid;
	border-radius: 10px 40px;
	border-color: #46517f;
	color: #f6d6bd;
	font-family: Domine;
	font-weight: bold;
	font-size: 150%
}
.Box
{
	background-image : url("../assets/bgblur.jpg");
	background-color: #212a4b; 
	border: 3px solid;
	border-radius: 5% 5%;
	border-color: #46517f;
	color: #f6d6bd;
	font-family: Domine;
	text-indent: 5%;
	margin: 0 auto;
}
.TextBox
{
	background-color: #212a4bdd; 
	border: 3px solid;
	border-radius: 5% 5%;
	border-color: #46517f;
	color: #f6d6bd;
	margin: 5%;
	font-family: Domine;
	width: 50vw;
	margin: auto;
	text-align: justify;
	padding : 1em;
}
