:root
{
  --color-0: #28282e; 
  --color-1: #6c5671; 
  --color-2: #d9c8bf; 
  --color-3: #f98284; 
  --color-4: #b0a9e4;
  --color-5: #accce4;
  --color-6: #b3e3da;
  --color-7: #feaae4;
  --color-8: #87a889;
  --color-9: #b0eb93;
  --color-a: #e9f59d;
  --color-b: #ffe6c6;
  --color-c: #dea38b;
  --color-d: #ffc384;
  --color-e: #fff7a0;
  --color-f: #fff7e4;
}

* {
  font-family: Helvetica;
  color: var(--color-f);
}

body {
  background-color: var(--color-0);
}

.titlebar {
  background-color: var(--color-1);
  border-style: double;
  border-color: var(--color-2);
  color: var(--color-f);
  margin: 2% 2% 2% 15%;
  padding: 1%;
  text-align: left;
}

a {
  text-decoration: none;
  color: var(--color-5);
}

a:visited {
  color: var(--color-7);
}


.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 8%;
  height: 85%;
  padding: 1.5%;
  margin: 2% 2% 0% 1%;
  background-color: var(--color-1);
  border: 1%;
  border-style: double;
  border-color: var(--color-2);
  list-style-type: none;
}

.content {
  position: absolute;
  border-style: double;
  margin: 2% 2% 0% 1%;
  background-color: var(--color-0);
  border-color: var(--color-2);
  padding-left: 2%;
  left: 15%;
  width: 55%;
}

li.sidebar_element {
  padding: 5%;
}
